{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "preprocess": false,
        "fileName": true,
        "displayName": true,
        "pure": true
      }
    ]
  ]
}
